{% extends "base.html" %}

{% block content %}
<h1>Server Manager</h1>


<div class="widget-box">
  <table class="table table-bordered table-striped with-check">
    <thead>
      <tr>
        <th></th>
        <th>Server Address</th>
        <th>Server Port</th>
      </tr>
    </thead>
    <tbody>
      {% for serv in servs %}
      <tr>
        <td><input id={{serv.server_id}} name="conditions[]" type="checkbox"/></td>
        <td>{{serv.server_ip}}</td>
        <td>{{serv.server_port}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
    <span class="pull-left" style="color:red;">
        <p id="errmsg">{{err_msg}}</p>
    </span>
    <span class="pull-right">
      <button class="btn btn-primary" data-toggle="modal" data-target="#addserver">Add Server</button>
      <button onclick="del_server()" class="btn btn-danger">Delete Server</button>
    </span>
  </div>
</div>

<div class="modal fade" id="addserver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Server</h4>
      </div>
      <div class="modal-body">
        <form method="POST" class="form-horizontal" onsubmit="return validate_server_form(this)">
            <div class="control-group">
                <label class="control-label">Server Address :</label>
                <div class="controls">
                    <input id="server_ip" type="text" class="span11" style="height:20px;width:300px" name = "servers_ip_addr" placeholder="Server Address">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Server Port :</label>
                <div class="controls">
                    <input id="server_port" type="text" class="span11" name = "servers_port" style="height:20px;width:300px" placeholder="Server Port">
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <span class="pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="add_server()">Add</button>
        </span>
      </div>
    </div>
  </div>
</div>


<script>
var jsPost = function(action, values) {
    var id = Math.random();
    document.write('<form id="post' + id + '" name="post'+ id +'" action="' + action + '" method="post">');
    for (var key in values) {
        document.write('<input type="hidden" name="' + key + '" value="' + values[key] + '" />');
    }
    document.write('</form>');
    document.getElementById('post' + id).submit();
}

function add_server()
{

    var server_ip = document.getElementById("server_ip").value;
    var server_port = document.getElementById("server_port").value;
    $('#addserver').modal('hide');

    jsPost("add_server",
    {
        'server_ip':server_ip,
        'server_port':server_port,
    });
}

function del_server()
{
  var del_ids = "";

  var cond = document.getElementsByName("conditions[]");
  for(var i=0;i<cond.length;i++){
    if(cond[i].checked == "checked" || cond[i].checked == true) {
      del_ids+=cond[i].id;
      del_ids+=":";
    }

  }

  alert(del_ids);
  location.href="delete_server?del_ids="+del_ids;
}
</script>

{% endblock %}

