{% extends "base.html" %}

{% block content %}
<h1>服务器管理</h1>


<div class="widget-box">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><input name="" type="checkbox" value="" /></th>
        <th>Server Address</th>
        <th>Server Port</th>
      </tr>
    </thead>
    <tbody>
      {% for serv in servs %}
      <tr>
        <td><input id={{serv.server_id}} name="conditions[]" type="checkbox"/></td>
        <td>{{serv.server_ip}}</td>
        <td>{{serv.server_port}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
    <span class="pull-right">
      <button onclick="add_server()" class="btn btn-success">Add Server</button>
      <button onclick="del_server()" class="btn btn-danger">Delete Server</button>
    </span>
  </div>
</div>

<script>
function add_server()
{
}

function del_server()
{
  var del_ids = "";

  var cond = document.getElementsByName("conditions[]");
  for(var i=0;i<cond.length;i++){
    if(cond[i].checked == "checked" || cond[i].checked == true) {
      del_ids+=cond[i].id;
      del_ids+=":";
    }

  }

  alert(del_ids);
  location.href="delete_server?del_ids="+del_ids;
}
</script>

{% endblock %}

